<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div id="app">
  <cpn></cpn>

  <cpn>
    <!--目的是获取子组件中的pLanguages,然后在父组件中进行展示-->
    <!--2.5.0之前必须用template标签，之后版本可以用任意标签-->
    <!--通过template拿到slot对象，然后通过slot.data拿到传过来的数据“slot :data="pLanguages"”-->
    <template slot-scope="slot">
      <!--<span v-for="item in slot.data"> - {{item}}</span>-->
      <span>{{slot.data.join(' - ')}}</span>
    </template>
  </cpn>

  <cpn>
    <!--目的是获取子组件中的pLanguages,然后在父组件中进行展示-->
    <template slot-scope="slot">
      <!--<span v-for="item in slot.data">{{item}} * </span>-->
      <span>{{slot.data.join(' * ')}}</span>
    </template>
  </cpn>
  <!--<cpn></cpn>-->
</div>

<template id="cpn">
  <div>
    <!--slot :data="pLanguages"方式，将子组件中的数据传给父组件使用，注意这里data是自定义的，可以为任何变量名-->
    <slot :data="pLanguages">
      <ul>
        <li v-for="item in pLanguages">{{item}}</li>
      </ul>
    </slot>
  </div>
</template>
<script src="../js/vue.js"></script>
<script>
	/**
	 * 官方定义：父组件不可以直接使用子组件中的数据，那么如果在父组件使用我们的子组件时，通过作用域插槽 从子组件中拿到数据：
	 *     1) 我们通过<template slot-scope="slotProps">获取到slotProps属性
	 2) 在通过slotProps.data就可以获取到刚才我们传入的data

	 import {sceneManager,viewManager,modelManager} from "finger";  -------------> 解构赋值
	 */
  const app = new Vue({
    el: '#app',
    data: {
      message: '你好啊'
    },
    components: {
      cpn: {
        template: '#cpn',
        data() {
          return {
            pLanguages: ['JavaScript', 'C++', 'Java', 'C#', 'Python', 'Go', 'Swift']
          }
        }
      }
    }
  })
</script>


</body>
</html>